{% include site-nav.html %}

  <header class="page-header">
    <div class="wrap">
      <div class="intro-copy">
        <h1>Himalay Majumdar</h1>
        <h2>Full Stack Software Engineer • Architect • Photographer</h2>
        <p class="description">Hi, I’m Himalay. I work at <a href="https://capitalone.com">Capital One</a> where I’m focused on modernizing our payments platform.
          I enjoy photography, taking interest in Indian politics, <a href="/#writing">writing</a>, and continuously <a href="https://github.com/hmajumdar?tab=repositories">learning</a> technology.</p>
        <div class="social-media-links">
          <a href="http://github.com/hmajumdar" class="icon-link" target="_blank">{% include icons/icon-github.html %}</a>
          <a href="http://stackoverflow.com/users/2097397/himalay-majumdar" class="icon-link" target="_blank">{% include icons/icon-so.html %}</a>
          <a href="http://twitter.com/hmajumdar" class="icon-link" target="_blank">{% include icons/icon-twitter.html %}</a>
        </div>
      </div>

      <div class="my-avatar home">
        <img class="joel-photo" src="/img/joel-glovier-2015-02-17.jpg" alt="Joel Andrew Glovier avatar" />
      </div>
    </div>
  </header>
